// Place all the styles related to the Tabis controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.tabi_photo {
  display: flex;
  flex-wrap: wrap;
  margin: 5px;
  padding: 10px;
  background-color: transparent;
  width: 100%;
}

.tabi_container {
  padding: 10px;
  background-color: transparent;
}

.tabi_photos {
  display: -webkit-box; /*Android4.3*/
  display: -moz-box;    /*Firefox21*/
  display: -ms-flexbox; /*IE10*/
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  z-index: 5;
}

.tabi_box {
  height: 300px;
  width: 300px;
}

.tabi_info {
  margin: 0px;
  padding: 0px;
  height: 30px;
  display: flex;
}

.link-box {
  text-align:right;
}
